/* You can add global styles to this file, and also import other style files */

#themecolors .selector,
.logout {
    cursor: pointer;
}

.google-btn {
    display: flex;
    justify-content: center;
}
